@model exp.Template.Infrastructure.Entities.Livrari

<h2>Detalii Livrari</h2>

<div>
    <h3>@Model.IdComanda</h3>
    <p>Data livrare: @Model.DataLivrare</p>
    <p>Adresa livrare: @Model.AdresaLivrare</p>
    <a asp-action="Index" asp-controller="Livrari">Inapoi la lista</a>
</div>
