@model exp.Template.Infrastructure.Entities.Hrana

<h2>Create Hrana</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Nume:</label>
        <input asp-for="Nume" />
    </div>
    <div>
        <label>Descriere:</label>
        <input asp-for="Descriere" />
    </div>
    <div>
        <label>Pret:</label>
        <input asp-for="Pret" type="text" />
    </div>
    <div>
        <label>Stoc:</label>
        <input asp-for="Stoc" type="number" step="1" />
    </div>
    <button type="submit">Salveaza</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
