@model exp.Template.Infrastructure.Entities.Discount

<h2>Detalii Discount</h2>

<div>
    <h3>@Model.NumarComenzi</h3>
    <p>Procent discount: @Model.ProcentDiscount</p>
    <a asp-action="Index" asp-controller="Discount">Inapoi la lista</a>
</div>
